<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up page</title>
</head>
<body>
	<form action="/new_user" method="post">
	<ul style="list-style-type:none">
		<li>Username<input type="text" name="user_name"></li>
     	<li>Email Address<input type="text" name="email_address"></li>
      	<li>Password<input type="password" name="password"></li>
        <input type="submit" value="create user">
  </ul>
    </form>
</body>
</html>